{% extends "base_site.html" %}
{% load static from staticfiles %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <div class="row">
            <div class="col-md-5">
                <h1>Hello, world!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <img class="img img-responsive spacer" src="data:image/png;base64," data-src="holder.js/500x250/auto" alt="Generic placeholder image">
            </div>
        </div>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <hr class="featurette-divider">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140/auto" alt="Generic placeholder image">
          <h2>Grátis</h2>
          <p>Teste todas as nossas funcionalidades gratutitamente por 30 dias. Depois desse prazo, a organização será inativada até escolher outro plano.</p>
          <p>Mais texto Mais texto Mais texto Mais texto.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Prata</h2>
          <p>Mais texto Mais texto Mais texto Mais texto Mais
            Mais texto Mais texto Mais texto Mais texto.Mais
            Mais texto Mais texto Mais texto Mais texto.
            Mais texto Mais texto Mais texto Mais texto.</p>
            <p><a class="btn btn-default" href="#">Ver detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Ouro</h2>
          <p>Adicionar até 15 pessoas na sua oranização.</p>
          <p>Mais texto Mais texto Mais texto Mais texto Mais
            Mais texto Mais texto Mais texto Mais texto.Mais
            Mais texto Mais texto Mais texto Mais texto.
            Mais texto Mais texto Mais texto Mais texto.</p>
            <p><a class="btn btn-default" href="#">Ver detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Usabilidade. <span class="text-muted">Interface simples e direta.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Controle permissões. <span class="text-muted">Diga quem pode fazer alterações e quem pode visualizar.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Gerencie e versione <span class="text-muted">seus</span> documentos <span class="text-muted">com facilidade.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

{% endblock %}

{% block footer %}
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

    </div><!-- /.container -->
{% endblock footer %}

{% block js %}
{{ block.super }}
<script src="{% static "js/holder.js" %}"></script>
{% endblock js %}